<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>

	<link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="stylesheets/menu3.css">
  <link rel="stylesheet" href="stylesheets/board.css">
  <link rel="stylesheet" href="stylesheets/search.css">
</head>

<body>
<header>
  <nav>

    <div class="logo_div">
    </div>

    <div class="search-icon">
      <img class="search" src="images/search.svg">
    </div>
    <div class="icons">
      <img class="mypageicon" src="images/mypageicon.svg">
    </div>

    <div class="search-drawer shadow-bar s-closed">
      <div class="search-tool">
        <div id="search-nav">
          <div class="search-close">X</div>
        </div>
        <div id="search-form">
          <form>
            <input class=in-search" type="text" name="s" value="" aria-required="false" autocomplete="on">
          </form>
        </div>
      </div>
    </div>

    <div class="overlay"></div>


    <div class="menu2">
      <div class='top'></div>
      <div class='middle'></div>
      <div class='bottom'></div>
    </div>
    <div class="menu-box">
      <div class="menu2-items">
        <div class="item">Lorem</div>
        <div class="item">Ipsum</div>
        <div class="item">Magnam</div>
        <div class="item">Quibusdam</div>
        <div class="item">Nesciunt</div>
        <div class="item">Dolor</div>
        <div class="item">Amet</div>
        <div class="item">Viverra</div>
        <div class="item">Curabitur</div>
        <div class="item">Porta</div>
      </div>
    </div>
  </nav>
</header>


  <div class="container">
    <!--게시글 목록-->
    <div >
      <table class="table table-hover">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
          </tr>
        </thead>
        <!--한 번에 몇 개의 글 보여줄지 정하기-->
        <tbody>
          <tr>
            <td>DB</td>
            <td>br까지 or 20글자</td>
            <td>불러오기</td>
            <td>
              데이터
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--페이징-->
    <hr/>
    <a class="btn btn-default pull-right">글쓰기</a>
    <div class="text-center">
      <ul class="pagination">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
      </ul>
    </div>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript" src="javascripts/bootstrap.js"></script>
<script type="text/javascript" src="javascripts/menu2.js"></script>
<script type="text/javascript" src="javascripts/search.js"></script>

</body>
</html>