<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../public/stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="../public/stylesheets/menu.css">
  <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>

<body>
<header>
  <nav>
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="logo_div">
      <!--      <img class="logo mx-auto d-block" src="img/logo_nav.png">-->
    </div>



    <div class="icons">
      <img class="search" src="../public/images/search.svg">
      <img class="mypageicon" src="../public/images/mypageicon.svg">
    </div>
  </nav>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
</body>
</html>