<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="stylesheets/menu.css">
  <link rel="stylesheet" href="stylesheets/info_show.css">
</head>

<body>
  <header>
    <nav>
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
  
      <div class="logo_div">
          <!--
          <img class="logo mx-auto d-block" src="../public/images/logo.png">
          -->
        </div>
      <div class="icons">
        <img class="search" src="images/search.svg">
        <img class="mypageicon" src="images/mypageicon.svg">
      </div>
    </nav>
  </header>

  <div class="container">
    <!--공연 제목-->
    <h1>데이터 불러오기</h1>
    <!--공연 요약 정보-->
    <div>
      <!--공연 사진 // 데이터에서 불러오기-->
      <div class = "poster">
        <!--
        <img src="../public/images/2.png"/>
        -->
      </div>
      <div class = "summary">
        <table>
          <tr>
            <td>날짜 : </td>
            <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>장소 : </td>
              <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>가격 : </td>
              <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>시간 : </td>
              <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>공지사항 : </td>
              <td>데이터 불러오기
              </td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "reserve">
      <input type="button" value="예약하기">
    </div>

    <ul class="nav justify-content-center nav-pills bg-lightgray nav-justified ">
      <li class="nav-item active">
        <a class="nav-link" href="#">상세정보</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">유의사항</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Q & A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">일정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">아티스트</a>
      </li>
    </ul>
    <div class="info1">
      각 탭에 맞는 데이터 불러오기
      <img src="images/3.png"/>
      <div> </div>
    </div>
    <div class="info2"></div>
    <div class="info2"></div>
    <div class="info1"></div>
    <div class="info1"></div>
    <div class="info1"></div>
  </div>


    <footer>
      footer
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
  </body>
</html>