<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>

	<link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="stylesheets/menu3.css">
  <link rel="stylesheet" href="stylesheets/info_show.css">
  <link rel="stylesheet" href="stylesheets/search.css">
  <link rel="stylesheet" href="stylesheets/tab_content.css">
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
</head>

<body>
<header>
  <nav>
    <div class="logo_div">
    </div>

    <div class="icons">
      <img class="search" src="images/search.svg">
      <img class="mypageicon" src="images/mypageicon.svg">
    </div>

    <div class="search-drawer shadow-bar s-closed">
      <form>
        <select class="select">
          <option value="all">전체</option>
          <optgroup label="장르">
            <option value="rock/band">락/밴드</option>
            <option value="dance">댄스</option>
            <option value="korean_music">국악</option>
            <option value="korean_dance">한국무용</option>
            <option value="play">연극</option>
            <option value="exhibition">전시회</option>
            <option value="movie">영화제</option>
            <option value="rap/hiphop">랩/힙합</option>
            <option value="etc">기타</option>
          </optgroup>
          <optgroup label="공연상태">
            <option value="notyet">공연예정</option>
            <option value="ing">공연중</option>
            <option value="finish">공연마감</option>
          </optgroup>
          <optgroup label="장소">
            <option value="gyeonggi/incheon">경기/인천</option>
            <option value="seoul">서울</option>
            <option value="chungcheong/daejeon">충청/대전</option>
            <option value="jeolla/gwangju">전라/광주</option>
            <option value="gyeongbuk/daegu">경북/대구</option>
            <option value="gyeongnam/busan/ulsan">경남/부산/울산</option>
            <option value="gangwon">강원</option>
            <option value="jeju">제주</option>
          </optgroup>
        </select>
        <input class="in-search" type="text" aria-required="false" autocomplete="on">
        <input class="gosearch" type="image" src="images/search.svg" name="submit" value="submit">
      </form>
    </div>

    <div class="overlay"></div>


    <div class="menu2">
      <div class='top'></div>
      <div class='middle'></div>
      <div class='bottom'></div>
    </div>
    <div class="menu-box">
      <div class="menu2-items">
        <a href="index"><div class="item">홈</div></a>
        <a href="list"><div class="item">공연목록</div></a>
        <a href="login"><div class="item">로그인</div></a>
        <a href="mypage"><div class="item">마이페이지</div></a>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <!--공연 제목-->
  <h1>데이터 불러오기</h1>
  <!--공연 요약 정보-->
  <div>
    <!--공연 사진 // 데이터에서 불러오기-->
    <div class = "poster">

      <img src="images/2.png">

    </div>
    <div class = "summary">
      <table>
        <tr>
          <td>날짜 : </td>
          <td>데이터 불러오기</td>
        </tr>
        <tr>
            <td>장소 : </td>
            <td>데이터 불러오기</td>
        </tr>
        <tr>
            <td>가격 : </td>
            <td>데이터 불러오기</td>
        </tr>
        <tr>
            <td>시간 : </td>
            <td>데이터 불러오기</td>
        </tr>
        <tr>
            <td>공지사항 : </td>
            <td>데이터 불러오기
            </td>
        </tr>
      </table>
    </div>
    <div class = "reserve">
      <input type="button" value="예약하기">
    </div>
  </div>

  <!--공연 내용에 대한 세부 정보 및 탭-->
  <div class="row">
    <div class="col">
      <ul class="nav justify-content-center nav-pills bg-lightgray nav-justified ">
        <li class="nav-item">
          <a class="nav-link active" data-togle ="tab" href="#information">상세정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-togle ="tab" href="#notice">유의사항</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-togle ="tab" href="#q&a">Q & A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-togle ="tab" href="#schedule">일정</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-togle ="tab" href="#artist">아티스트</a>
        </li>
      </ul>

      <div class="tab-content info1">
        <!--상세정보는 이미지화 해서 업로드하기?-->
        <div class="tab-pane fade show active" id="information">
          <p>상세정보 데이터 불러오기</p>
          <img src="images/3.png"/>
        </div>
        <!--유의사항-->
        <div class="tab-pane fade" id="notice">
          <p>유의사항 데이터 불러오기</p>
        </div>
        <!--Q&A 게시판   아코디언효과, 데이터연결, 댓글 기능 추가 필요...
        넣어도 되는걸까..-->
        <div class="tab-pane fade" id="p&a">
          <p>Q & A 데이터 불러오기</p>
            <!--게시글 목록-->
          <div>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
              </tr>
              </thead>
              <!--한 번에 5 개의 글 보여줌-->
              <tbody>
              <tr class="q_title">
                <td>DB에서 br까지 or 20글자</td>
                <td>불러오기</td>
                <td>데이터</td>
              </tr>
              <tr class="q_hide">
                <td colspan="3">내용 데이터 불러오기</td>
              </tr>
              <tr class="a_write">
                <td colspan="2"><textarea cols="100" placeholder="답변을 입력하세요"></textarea></td>
                <td><input type="button" value="등록"/></td>
              </tr>
              <tr class="a_hide">
                <td colspan="3">답변 데이터 불러오기</td>
              </tr>
              <tr class="q_title">
                <td>br까지 or 20글자</td>
                <td>불러오기</td>
                <td>데이터</td>
              </tr>
              <tr class="q_hide">
                <td colspan="3">내용 데이터 불러오기</td>
              </tr>
              <tr class="a_write">
                <td colspan="2"><textarea cols="100" placeholder="답변을 입력하세요"></textarea></td>
                <td><input type="button" value="등록"/></td>
              </tr>
              <tr class="a_hide">
                <td colspan="3">답변 데이터 불러오기</td>
              </tr>
              <tr class="q_title">
                <td>br까지 or 20글자</td>
                <td>불러오기</td>
                <td>데이터</td>
              </tr>
              <tr class="q_hide">
                <td colspan="3">내용 데이터 불러오기</td>
              </tr>
              <tr class="a_write">
                <td colspan="2"><textarea cols="100" placeholder="답변을 입력하세요"></textarea></td>
                <td><input type="button" value="등록"/></td>
              </tr>
              <tr class="a_hide">
                <td colspan="3">답변 데이터 불러오기</td>
              </tr>
              <tr class="q_title">
                <td>br까지 or 20글자</td>
                <td>불러오기</td>
                <td>데이터</td>
              </tr>
              <tr class="q_hide">
                <td colspan="3">내용 데이터 불러오기</td>
              </tr>
              <tr class="a_write">
                <td colspan="2"><textarea cols="100" placeholder="답변을 입력하세요"></textarea></td>
                <td><input type="button" value="등록"/></td>
              </tr>
              <tr class="a_hide">
                <td colspan="3">답변 데이터 불러오기</td>
              </tr>
              <tr class="q_title">
                <td>br까지 or 20글자</td>
                <td>불러오기</td>
                <td>데이터</td>
              </tr>
              <tr class="q_hide">
                <td colspan="3">내용 데이터 불러오기</td>
              </tr>
              <tr class="a_write">
                <td colspan="2"><textarea cols="100" placeholder="답변을 입력하세요"></textarea></td>
                <td><input type="button" value="등록"/></td>
              </tr>
              <tr class="a_hide">
                <td colspan="3">답변 데이터 불러오기</td>
              </tr>
              </tbody>
            </table>
          </div>
          <hr/>
          <div class="text-center">
            <ul class="pagination">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
          </div>
        </div>
        <!--일정-->
        <div class="tab-pane fade" id="schedule">
          <p>일정 데이터 불러오기</p>
        </div>
        <!--아티스트-->
        <div class="tab-pane fade" id="artist">
          <p>아티스트 정보 불러오기</p>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.js"></script>
<script type="text/javascript" src="javascripts/menu2.js"></script>
<script type="text/javascript" src="javascripts/search.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/tab.js"></script>
</body>
</html>
