<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>
	<link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/info_show.css">
</head>

<body>
  <header>
    <nav>
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
  
      <img class="logo mx-auto d-block" src="img/logo_nav.png">
      <div class="icons">
        <img class="search" src="img/search.svg">
        <img class="mypageicon" src="img/mypageicon.svg">
      </div>
    </nav>
  </header>

  <div class="content">
    <!--공연 제목-->
    <h1>데이터 불러오기</h1>
    <!--공연 요약 정보-->
    <div>
      <!--공연 사진 // 데이터에서 불러오기-->
      <div class = "poster">
        <img src="img/poster_example.jpg"/>
      </div>
      <div class = "summary">
        <table>
          <tr>
            <td>날짜 : </td>
            <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>장소 : </td>
              <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>가격 : </td>
              <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>시간 : </td>
              <td>데이터 불러오기</td>
          </tr>
          <tr>
              <td>공지사항 : </td>
              <td>데이터 불러오기
              </td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "reserve">
      <input type="button" value="예약하기">
    </div>
    <!--공연 내용에 대한 세부 정보 및 탭-->
    <div class = "tab">
      <ul>
        <li>상세정보</li>
        <li>관람후기</li>
        <li>Q & A</li>
        <li>유의사항</li>
        <li>아티스트</li>
      </ul>
    </div>
    <div class="info1">
      각 탭에 맞는 데이터 불러오기
      <img src="img/logo.png"/>
      <div> </div>
    </div>
    <div class="info2"></div>
    <div class="info2"></div>
    <div class="info1"></div>
    <div class="info1"></div>
    <div class="info1"></div>
  </div>


    <footer>
      footer
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
  </body>
</html>