<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CUE!</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/list.css">
</head>
<body>
<header>
  <nav>
    <a class="menu-trigger" href=#">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="logo_div">
      <!--      <img class="logo mx-auto d-block" src="img/logo_nav.png">-->
    </div>

    <div class="icons">
      <img class="search" src="img/search.svg">
      <img class="mypageicon" src="img/mypageicon.svg">
    </div>
  </nav>
</header>

<div class="container-fluid">
  <p class="top-list">TOP 공연</p>


  <div class="row">
    <div class="col-md-4 col-xs-6">
      <img src="img/2.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/3.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/4.png">
    </div>
  </div>

  <p class="pf-list">공연목록<p>

  <div class="category">
    <button class="student" value="대학생">대학생</button>
    <button class="normal" value="일반인">일반인</button>
    <button class="all" value="전체">전체</button>
  </div>

  <div class="category_perfo">
    <button class="rock/band" value="rock/band">락/밴드</button>
    <button class="dance" value="dance">댄스</button>
    <button class="korean_music" value="korean_music">국악</button>
    <button class="korean_dance" value="korean_dance">한국무용</button>
    <button class="play" value="play">연극</button>
    <button class="exhibition" value="exhibition">전시회</button>
    <button class="movie" value="movie">영화제</button>
    <button class="rap/hiphop" value="rap/hiphop">랩/힙합</button>
    <button class="etc" value="etc">기타</button>
  </div>

  <div class="sort">
    <button class="new" value="new">최신순</button>
    <button class="popular" value="popular">인기순</button>
    <button class="recommend" value="recommend">추천순</button>
    <button class="lower" value="lower">가격낮은순</button>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-6">
      <img src="img/2.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/3.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/4.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/5.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/6.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="img/7.png">
    </div>
  </div>

  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
</body>
</html>