<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CUE!</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/menu3.css">
  <link rel="stylesheet" href="stylesheets/list_search.css">
  <link rel="stylesheet" href="stylesheets/search.css">
</head>
<body>
<header>
  <nav>
    <div class="logo_div">
    </div>

    <div class="icons">
      <img class="search" src="images/search.svg">
      <img class="mypageicon" src="images/mypageicon.svg">
    </div>

    <div class="search-drawer shadow-bar s-closed">
      <form>
        <select class="select">
          <option value="all">전체</option>
          <optgroup label="장르">
            <option value="rock/band">락/밴드</option>
            <option value="dance">댄스</option>
            <option value="korean_music">국악</option>
            <option value="korean_dance">한국무용</option>
            <option value="play">연극</option>
            <option value="exhibition">전시회</option>
            <option value="movie">영화제</option>
            <option value="rap/hiphop">랩/힙합</option>
            <option value="etc">기타</option>
          </optgroup>
          <optgroup label="공연상태">
            <option value="notyet">공연예정</option>
            <option value="ing">공연중</option>
            <option value="finish">공연마감</option>
          </optgroup>
          <optgroup label="장소">
            <option value="gyeonggi/incheon">경기/인천</option>
            <option value="seoul">서울</option>
            <option value="chungcheong/daejeon">충청/대전</option>
            <option value="jeolla/gwangju">전라/광주</option>
            <option value="gyeongbuk/daegu">경북/대구</option>
            <option value="gyeongnam/busan/ulsan">경남/부산/울산</option>
            <option value="gangwon">강원</option>
            <option value="jeju">제주</option>
          </optgroup>
        </select>
        <input class="in-search" type="text" aria-required="false" autocomplete="on">
        <input class="gosearch" type="image" src="images/search.svg" name="submit" value="submit">
      </form>
    </div>

    <div class="overlay"></div>


    <div class="menu2">
      <div class='top'></div>
      <div class='middle'></div>
      <div class='bottom'></div>
    </div>
    <div class="menu-box">
      <div class="menu2-items">
        <div class="item">Lorem</div>
        <div class="item">Ipsum</div>
        <div class="item">Magnam</div>
        <div class="item">Quibusdam</div>
        <div class="item">Nesciunt</div>
        <div class="item">Dolor</div>
        <div class="item">Amet</div>
        <div class="item">Viverra</div>
        <div class="item">Curabitur</div>
        <div class="item">Porta</div>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <p class="top-list">TOP 공연</p>


  <div class="row">
    <div class="col-md-4 col-xs-6">
      <img src="images/2.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/3.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/4.png">
    </div>
  </div>

  <hr width="100%" color="#f2f2f2" noshade/>
  <span><strong>~</strong> 로 검색한 결과입니다.</span>
  <div class="sort">
    <button class="new" value="new">최신순</button>
    <button class="popular" value="popular">인기순</button>
    <button class="recommend" value="recommend">추천순</button>
    <button class="lower" value="lower">가격낮은순</button>
  </div>

  <div class="row">
    <div class="col-md-4 col-xs-6">
      <img src="images/2.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/3.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/4.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/5.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/6.png">
    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/7.png">
    </div>
  </div>

  <nav class="page_bar">
    <ul class="pagination">
      <li><a href="#"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
    </ul>
  </nav>

  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.js"></script>
<script type="text/javascript" src="javascripts/menu2.js"></script>
<script type="text/javascript" src="javascripts/search.js"></script>
</body>
</html>