<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CUE!</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
<header>
  <nav>
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="logo_div">
<!--      <img class="logo mx-auto d-block" src="img/logo_nav.png">-->
    </div>



    <div class="icons">
      <img class="search" src="img/search.svg">
      <img class="mypageicon" src="img/mypageicon.svg">
    </div>
  </nav>
</header>

<div class="title">
  <p>LOGIN</p>
</div>

<div class="login center-block row">
  <div class="col-sm-6 user">
    <form class="userlogin">
      <input type="text" name="id" placeholder="ID" class="id"><br>
      <input type="text" name="password" placeholder="PASSWORD" class="password"><br>
      <input type="submit" value="LOGIN" class="log_in"><br>
      <input type="button" value="회원가입" class="signup">
      <input type="button" value="아이디/비밀번호 찾기" class="forgot">
    </form>
  </div>

  <div class="col-sm-6 social">
    <form class="sociallogin">
      <input type="text" name="blah" class="naver"><br>
    </form>
  </div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
</body>
</html>