<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>
	<link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/mypage.css">
</head>

<body>
  <header>
    <nav>
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
  
      <img class="logo mx-auto d-block" src="img/logo_nav.png">
      <div class="icons">
        <img class="search" src="img/search.svg">
        <img class="mypageicon" src="img/mypageicon.svg">
      </div>
    </nav>
  </header>

  <div>
    <p style="margin-top: 5%; margin-bottom: 5%">마이페이지</p>
    <div id="profile">
      <div class="effect">
        <img src="img/logo.png" alt="프로필 사진" >
        <!--노드로 넘기는건가,,,?-->
      </div>
      <div id="info">
        <table>
          <tr>
            <td>이름:</td>
            <td> 데이터에서 불러오기</td>
          </tr>
          <tr>
            <td>회원 종류(개인/단체):</td>
            <td> 데이터에서 불러오기</td>
          </tr>
          <tr>
            <td>회원등급 / 대분류:</td>
            <td> 데이터에서 불러오기</td>
          </tr>
          <tr>
            <td>관심분야 / 장르:</td>
            <td> 데이터에서 불러오기</td>
          </tr>
          <tr>
            <td>대표자 연락처:</td>
            <td> 데이터에서 불러오기</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container-fluid">
      <div class = "row">
        <div class = "col-xs-4">
          <div class = "card" id="bright">
            <div class = "card-body">
              <p class = "card-text">팀 정보 수정</p>
            </div>
          </div>
        </div>
        <div class = "col-xs-4">
          <div class = "card" id="deep">
            <div class = "card-body">
              <p class = "card-text">공연 관리</p>
            </div>
          </div>
        </div>
        <div class = "col-xs-4">
          <div class = "card" id="bright">
            <div class = "card-body">
              <p class = "card-text">쿠폰 관리</p>
            </div>
          </div>
        </div>
      </div>
    <div class = "row">
      <div class = "col-xs-4">
        <div class = "card" id="deep">
          <div class = "card-body">
            <p class = "card-text">연동 계정 관리</p>
          </div>
        </div>
      </div>
      <div class = "col-xs-4">
        <div class = "card" id="bright">
          <div class = "card-body">
            <p class = "card-text">멤버 관리</p>
          </div>
        </div>
      </div>
      <div class = "col-xs-4">
        <div class = "card" id="deep">
          <div class = "card-body">
            <p class = "card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>


    <footer>
      footer
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
  </body>
</html>