<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CUE!</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-reboot.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="stylesheets/menu3.css">
  <link rel="stylesheet" href="stylesheets/search.css">
  <link rel="stylesheet" href="stylesheets/star.css">
</head>
<body>
<header>
  <nav>
    <div class="logo_div">
    </div>

    <div class="icons">
      <img class="search" src="images/search.svg">
      <img class="mypageicon" src="images/mypageicon.svg">
    </div>

    <div class="search-drawer shadow-bar s-closed">
      <form>
        <select class="select">
          <option value="all">전체</option>
          <optgroup label="장르">
            <option value="rock/band">락/밴드</option>
            <option value="dance">댄스</option>
            <option value="korean_music">국악</option>
            <option value="korean_dance">한국무용</option>
            <option value="play">연극</option>
            <option value="exhibition">전시회</option>
            <option value="movie">영화제</option>
            <option value="rap/hiphop">랩/힙합</option>
            <option value="etc">기타</option>
          </optgroup>
          <optgroup label="공연상태">
            <option value="notyet">공연예정</option>
            <option value="ing">공연중</option>
            <option value="finish">공연마감</option>
          </optgroup>
          <optgroup label="장소">
            <option value="gyeonggi/incheon">경기/인천</option>
            <option value="seoul">서울</option>
            <option value="chungcheong/daejeon">충청/대전</option>
            <option value="jeolla/gwangju">전라/광주</option>
            <option value="gyeongbuk/daegu">경북/대구</option>
            <option value="gyeongnam/busan/ulsan">경남/부산/울산</option>
            <option value="gangwon">강원</option>
            <option value="jeju">제주</option>
          </optgroup>
        </select>
        <input class="in-search" type="text" aria-required="false" autocomplete="on">
        <input class="gosearch" type="image" src="images/search.svg" name="submit" value="submit">
      </form>
    </div>

    <div class="overlay"></div>


    <div class="menu2">
      <div class='top'></div>
      <div class='middle'></div>
      <div class='bottom'></div>
    </div>
    <div class="menu-box">
      <div class="menu2-items">
        <a href="index"><div class="item">홈</div></a>
        <a href="list"><div class="item">공연목록</div></a>
        <a href="login"><div class="item">로그인</div></a>
        <a href="mypage"><div class="item">마이페이지</div></a>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <p>내가 본 공연</p>
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <form action ="star" method="POST">
      <img src="images/2.png">
        <span class="star-input">
          <span class="input">
              <input type="radio" name="star-input" value="1" id="p1">
              <label for="p1">1</label>
              <input type="radio" name="star-input" value="2" id="p2">
              <label for="p2">2</label>
              <input type="radio" name="star-input" value="3" id="p3">
              <label for="p3">3</label>
              <input type="radio" name="star-input" value="4" id="p4">
              <label for="p4">4</label>
              <input type="radio" name="star-input" value="5" id="p5">
              <label for="p5">5</label>
            </span>
            <output for="star-input"><b>0</b>점</output>
        </span>
    </form>
    </div>
    
   

    <div class="col-md-4 col-xs-6">
      <img src="images/3.png">

    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/4.png">

    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/5.png">

    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/6.png">

    </div>
    <div class="col-md-4 col-xs-6">
      <img src="images/7.png">

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.js"></script>
<script type="text/javascript" src="javascripts/menu2.js"></script>
<script type="text/javascript" src="javascripts/search.js"></script>
<SCRIPT type="text/javascript" src="javascripts/rating.js"></SCRIPT>

</body>
</html>