<!DOCTYPE html>
<html>
<head>
	<title>CUE!</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="/stylesheets/menu.css">
  <link rel="stylesheet" href="/stylesheets/write_show.css">
</head>

<body>
  <header>
    <nav>
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
  
      <img class="logo mx-auto d-block" src="/images/logo.png">
      <div class="icons">
        <img class="search" src="/images/search.svg">
        <img class="mypageicon" src="/images/mypageicon.svg">
      </div>
    </nav>
  </header>

  <div class="container">
      <table>
          <tr>
              <td>
                  날짜
                </td>
                <td>
                  <input type="text" >
                </td>
          </tr>
          <tr>
              <td>
                  장소
                </td>
                <td>
                  <input type="text">
                </td>
          </tr>
          <tr>
              <td>
                  가격
                </td>
                <td>
                  <input type="text">
                </td>
          </tr>
          <tr>
            <td>
              시간
            </td>
            <td>
              <input type="text">
            </td>
          </tr>
          <tr>
            <td>
              파일첨부
            </td>
            <td>
              <input type="file">
            </td>
          </tr>
          <tr>
              <td valign = "top">소개글</td>
              <td><textarea name="introduce" id="intro" cols="100" rows="20"></textarea></td>
          </tr>
          <tr>
              <td colspan="2" style ="text-align: right">
                <input type = "button" value = "확인">
                <input type = "button" value = "취소"></td>
          </tr>
      </table>
  </div>
  


  <footer>
    footer
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="javascripts/menu.js"></script>
</body>
</html>