body{
    background-color: #f2f2f2;
}
h1{
    margin-left: -35%;
    margin-top: 4%;
    margin-bottom: 2%;
}
table{
    margin-left: 2%;
    font-size: 140%;
    border-collapse: separate;
    border-spacing: 15px 15px;
    text-align: left;
}
table tr{
    margin-top: 5%;
}
ul li{
    list-style: none;
    text-align: center;
    float: left;
    width: 15%;
    background-color: lightgray;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
}
input{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 130%;
    border: none;
    background-color: #023759;
    color: #f2f2f2;
    margin-left: 30%;
}
.content{
    text-align: center;
    width: 100%;
}
.summary{
    width: 30%;
    height: 25%;
    display: inline-block;
    margin-left: 5%;
}
.poster{
    width: 25%;
    height: 25%;
    display: inline-block;
    margin-left: 5%
}
.poster img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.reserve{
    text-align: center;
}
.tab {
    display: block;
    margin-left: 17%;
    margin-top: 3%;
}
.info1{
    clear: left;
    text-align: center;
}