.top-list{
  text-align: center;
  color: yellow;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

img{
  margin: 10px;
  width: 200px;
  height: 300px;
}

.row{
  text-align: center;
}

.pf-list{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 50px;
}

button{
  width: 80px;
  border: none;
  background: none;
  color: white;

}

.category, .category_perfo{
  text-align: center;
  margin-bottom: 50px;
}

.sort{
  text-align: right;
  margin-bottom: 50px;
}
