.top-list{
  text-align: center;
  color: yellow;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

body{
  background-color: #333;
}

img{
  margin: 10px;
  width: 200px;
  height: 300px;
}

.row{
  text-align: center;
}

.pf-list{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 50px;
  text-shadow: 3px 3px 3px rgb(32, 32, 32);
}

button{
  width: 90px;
  border: none;
  background: none;
  color: white;

}

.category, .category_perfo{
  text-align: center;
  margin-bottom: 50px;
  font-size: 120%;
}

.sort{
  text-align: right;
  margin-bottom: 50px;
}

.page_bar{
  text-align: center;
  margin-top: 100px;

}

.pagination li a{
  border: none;
  background: none;
  color: #ffffff;
  margin: 10px;

}