nav{
  background: #3c3c3c;
  height: 100px;
}

.logo_div{
  width: 100%;
  height: 110px;
  background-image: url("../images/logo_nav.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  /*float: left;*/
  position: absolute;
}


.search, .mypageicon{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.icons{
  position: relative;
  float: right;
  margin: 20px;

}



