nav{
  background-color: #001625;
  height: 130px;
}

.menu-trigger {
  margin: 30px;
  float: left;
  position: relative;
  width: 30px;
  height: 22px;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}


.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.logo_div{
  width: 100%;
  height: 110px;
  background-image: url("../images/logo_nav.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  /*float: left;*/
  position: absolute;
}


.search, .mypageicon{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.icons{
  position: relative;
  float: right;
  margin: 20px;

}



