body{
  background-color: #f2f2f2;
}

p{
  text-align: center;
}

.mypage_text{
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 330px;
  height: 90px;
}

.profile{
  text-align: center;
  margin-bottom: 100px;
}

.effect{
  display: inline-block;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 10%;
}

.effect img{
  width: 200px;
  height: auto;
}

.info{
  display: inline-block;
  text-align: left;
}

.info td{
  padding: 10px;
}

.card{
    margin: 0;
    color: aliceblue;
    height: 100%;
}
.card-body{
    margin: 0;
    height: 100%;
    padding-top: 35%;
}
.col-xs-4{
    margin: 0;
    padding: 0;
    height: 100%;
}
.row{
    height: 50%;
}
.container-fluid{
    padding-left: 10%;
    padding-right: 10%;
    height: 300px;
}
@media (min-width: 768px) {
    .container-fluid{
      height: 320.5128205128px;
    }
  }
  @media (min-width: 992px) {
    .container-fluid {
      height: 414.5299145299px;
    }
  }
  @media (min-width: 1200px) {
    .container-fluid {
      height: 500px;
    }
  }








.bright{
    background-color: #023759;
}
.bright:hover{
    background-color: gray;
}
.bright:link{
    
}
.deep{
    background-color: #001625;
}
.deep:hover{
    background-color: gray;
}