body{
  background-color: #f2f2f2;
}

p{
  text-align: center;
}

.mypage_text{
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 330px;
  height: 90px;
}

.profile{
  text-align: center;
  margin-bottom: 100px;
}

.effect{
  display: inline-block;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 10%;
}

.effect img{
  width: 200px;
  height: auto;
}

.info{
  display: inline-block;
  text-align: left;
}

.info td{
  padding: 10px;
}
<<<<<<< HEAD

=======
table{
    border-collapse: separate;
    border-spacing: 10px 10px;
}
>>>>>>> 98e1b4370fd4130358d97e1ee3e5e17b6f822494
.card{
    margin: 0;
    color: aliceblue;
    height: 100%;
}
.card-body{
    margin: 0;
    height: 100%;
    padding-top: 35%;
    font-size: 130%;
}
.col-xs-4{
    margin: 0;
    padding: 0;
    height: 100%;
}
.row{
    height: 50%;
}
.container-fluid{
    padding-left: 10%;
    padding-right: 10%;
    height: 300px;
}
@media (min-width: 768px) {
    .container-fluid{
      height: 320.5128205128px;
    }
  }
  @media (min-width: 992px) {
    .container-fluid {
      height: 414.5299145299px;
    }
  }
  @media (min-width: 1200px) {
    .container-fluid {
      height: 500px;
    }
  }

<<<<<<< HEAD






=======
#page-name{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(163, 163, 163);
    font-weight: bold;
}

#profile{
    padding-left: 1%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: auto !important;
}
@media (min-width: 768px) {
    #profile{
      padding-left: 5%;
    }
  }
  @media (min-width: 992px) {
    #profile {
        padding-left: 5%;
    }
  }
  @media (min-width: 1200px) {
    #profile {
        padding-left: 10%;
    }
  }

#info{
    display: inline-block;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 130%;
}
#name{
    font-weight: bold;
}
>>>>>>> 98e1b4370fd4130358d97e1ee3e5e17b6f822494

#bright{
    background-color: #023759;
}
#bright:hover{
    background-color: gray;
}
#bright:link{
    
}
#deep{
    background-color: #001625;
}
#deep:hover{
    background-color: gray;
}