body {
  margin:0px;
  /*background:#fff;*/
  font-family:'Roboto', sans-serif;
  overflow:hidden;
}

.search-icon {
  height:100px;
  width:100%;
  /*background:#8b50b0;*/
}

.search{
  position:absolute;
  top:40px;
  right:80px;
  width:50px;
  z-index: 3;
  margin: 0;
}

.search-drawer{
  height:100px;
  position:absolute;
  right:0px;
  top:0px;
  display:none;
  z-index: 2;
}

/*검색바 크기*/
.search-tool {
  height:100px;
  width:100%;
  background-color: #3c3c3c;
}

/*검색하는 곳 위치*/
#search-nav {
  height:80px;
  width:100%;
}

/*엑스표 위치*/
.search-close {
  font-size: 30px;
  color: white;
  text-align: center;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 1;
  top: 35px;
  right: 50px;
}


.overlay {
  height:100vh;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:1;
  background:rgba(0,0,0,0.57);
  display:none;
}

.s-opened {
  width:100%;
  display:block;
  animation: swiftRight 1s cubic-bezier(.55,0,.1,1) normal;
}


.s-closed {
  width:0px;
  animation: swiftoutRight 1s cubic-bezier(.55,0,.1,1) normal;
}

/** SEARCH ELEMENTS **/

/*검색하는 곳*/
#search-form {
  position: relative;
  top: -64px;
  /*z-index: 0;*/
  /*height: 200px;*/
}

input {
  margin: 0 auto;
  height: 50px;
  width: 1000px;
  position: relative;
  top: 10px;
  left: 100px;
  float:left;
  display: block;
  border: none;
  /*padding: 10px 0;*/
  color: #000;
  font-size: 1.6rem;
  text-indent: 15px;
}

input:focus,
input:valid {
  box-shadow: none;
  background-color: #f5f5f5;
  outline: 0px;
}

/* Anything but Firefox and Internet Explorer 8 */
@-moz-document url-prefix() {
  input#in-search {
    height: 16px;
    top: 15px;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #000;
    background: white;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/** SHADOW **/

.shadow-bar {
  box-shadow: 0 16px 24px 2px hsla(0, 0%, 0%, 0.14), 0 5px 30px 5px hsla(0, 0%, 0%, 0.12), 0 8px 10px -5px hsla(0, 0%, 0%, 0.4);
}


@media only screen and (max-width: 1410px){
  #search-header {
    right: 15px;
  }

  #search-close {
    right: 10px;
  }
}

@media only screen and (max-width: 912px){
  #search-header {
    right: 8px;
    width: 80px;
  }

  #search-close {
    right: 2px;
  }

  input,input:focus,
  input:valid {
    width: 75%;
  }
}

@media only screen and (max-width: 580px){
  input, input:focus,
  input:valid {
    width: 68%;
  }
}

@media only screen and (max-width: 432px){
  input,input:focus,
  input:valid {
    width: 55%;
  }

  #search-header {
    right: -4px;
    width: 72px;
    font-size: 17px;
  }

  #search-close {
    right: 0px;
  }
}

@media only screen and (max-width: 280px){

  #search-close i {
    font-size: 1.2rem;
  }

  #search-close {
    right: -4px;
  }

  #search-header {
    right: -8px;
    width: 65px;
    height: 21.5px;
    font-size: 15px;
  }

  input, input#in-search:focus, input:valid#in-search {
    width: 50%;
    margin-left: 10px;
    top: 15px;
  }

  input#in-search {
    font-size: 1.2rem;
    text-indent: 10px;
    line-height: 10px;
  }
}


