body{
  background-color: #6c757d;
}
img{
  margin: 10px;
  width: 200px;
  height: 300px;
}

.row{
  text-align: center;
}

.container p{
  font-size: 3em;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 150px;
  color: white;
  font-weight: bold;
  text-shadow: 4px 2px 3px #9d9d9d;
}

.result{
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f2f2;
}

.count{
  border: none;
  background-color: #f2f2f2;
  margin: 5px;
}

.done{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/*.starR1{*/
/*  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;*/
/*  background-size: auto 100%;*/
/*  width: 15px;*/
/*  height: 30px;*/
/*  float:left;*/
/*  text-indent: -9999px;*/
/*  cursor: pointer;*/

/*}*/
/*.starR2{*/
/*  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;*/
/*  background-size: auto 100%;*/
/*  width: 15px;*/
/*  height: 30px;*/
/*  float:left;*/
/*  text-indent: -9999px;*/
/*  cursor: pointer;*/
/*}*/
/*.starR1.on{background-position:0 0;}*/
/*.starR2.on{background-position:-15px 0;}*/

/*.starRev{*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  margin: 30px;*/

/*}*/

/*.star_input>.input,*/
/*.star_input>.input>label:hover,*/
/*.star_input>.input>input:focus+label,*/
/*.star_input>.input>input:checked+label{*/
/*  display: inline-block;*/
/*  vertical-align:middle;*/
/*  background:url('../images/grade_img.png')no-repeat;*/
/*}*/
.star_input, .done{
  display:inline-block;
  white-space:nowrap;
  width:225px;
  height:40px;
  padding:25px;
  /*line-height:30px;*/
  margin-bottom: 20px;
}
/*.star_input>.input{*/
/*  display:inline-block;*/
/*  width:150px;*/
/*  background-size:150px;*/
/*  height:28px;*/
/*  white-space:nowrap;*/
/*  overflow:hidden;*/
/*  position: relative;*/
/*}*/
/*.star_input>.input>input{*/
/*  position:absolute;*/
/*  width:1px;*/
/*  height:1px;*/
/*  opacity:0;*/
/*}*/
/*star_input>.input.focus{*/
/*  outline:1px dotted #ddd;*/
/*}*/
/*.star_input>.input>label{*/
/*  width:30px;*/
/*  height:0;*/
/*  padding:28px 0 0 0;*/
/*  overflow: hidden;*/
/*  float:left;*/
/*  cursor: pointer;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/
/*.star_input>.input>label:hover,*/
/*.star_input>.input>input:focus+label,*/
/*.star_input>.input>input:checked+label{*/
/*  background-size: 150px;*/
/*  background-position: 0 bottom;*/
/*}*/
/*.star_input>.input>label:hover~label{*/
/*  background-image: none;*/
/*}*/
/*.star_input>.input>label[for="p1"]{*/
/*  width:30px;z-index:5;*/
/*}*/
/*.star_input>.input>label[for="p2"]{*/
/*  width:60px;z-index:4;*/
/*}*/
/*.star_input>.input>label[for="p3"]{*/
/*  width:90px;z-index:3;*/
/*}*/
/*.star_input>.input>label[for="p4"]{*/
/*  width:120px;z-index:2;*/
/*}*/
/*.star_input>.input>label[for="p5"]{*/
/*  width:150px;z-index:1;*/
/*}*/
/*.star_input>output{*/
/*  display:inline-block;*/
/*  width:60px;*/
/*  font-size:18px;*/
/*  text-align:right;*/
/*  vertical-align:middle;*/
/*}*/